@model Facturador.Models.Productos

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-dark">Borrar Producto</h2>
<br />

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CantidadStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CantidadStock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClaveProdServ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClaveProdServ.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClaveUnidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClaveUnidad.Descripcion)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
